.App {
    text-align: center;
} 

.movie {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 10px
}

.movie .movie-title {
    flex-grow: 1;
}

.movie .movie-year {
    font-size: 0.5rem;
    color: red;
}

.error {
    font-size: 11px;
    color: red;
}

.addMovie {
    margin: 10px 10px;
} 

.inputMovieInfo {
    margin: 10px;
} 